@mixin sm {
	@media only screen and (min-width: 640px) {
		@content;
	}
}

@mixin md {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin lg {
	@media only screen and (min-width: 1024px) {
		@content;
	}
}

@mixin xl {
	@media only screen and (min-width: 1280px) {
		@content;
	}
}

@mixin xxl {
	@media only screen and (min-width: 1536px) {
		@content;
	}
}

@mixin flex($display, $direction, $alignItems, $justifyContent, $gap) {
	display: $display;
	align-items: $alignItems;
	justify-content: $justifyContent;
	gap: $gap;
	flex-direction: $direction;
}

@mixin position(
	$position,
	$top: auto,
	$left: auto,
	$right: auto,
	$bottom: auto
) {
	position: $position;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin widthHeight($width, $height: auto) {
	width: $width;
	height: $height;
}

@mixin NBNO {
	border: none;
	outline: none;
}
